body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
}

.task-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}